{% extends "base.html" %}
{% load static %}
{% block Title %}
Hồ sơ năng lực
{% endblock Title %}

{% block MainContent %}
<link rel="stylesheet" href="{% static 'css/custom_css/about.css' %}">

<style>
    {% with CoverContent.contentimages_set.all|first as coverImage %}
        .banner-area {
            background: url({{ coverImage.image.url }}) center;
            background-size: cover;
        }
    {% endwith %}
    {% with ShortDescription.contentimages_set.all|first as aboutRightImage %}
        .about-video-right {
            background: url({{ aboutRightImage.image.url }}) no-repeat center;
            background-size: cover;
            height: 330px;
        }
    {% endwith %}
</style>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Hồ sơ năng lực
                </h1>
                <p class="text-white link-nav"><a href="{% url 'home' %}">Trang chủ </a>  <span class="lnr lnr-arrow-right"></span>  <a href="">Hồ sơ năng lực</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Start about-video Area -->
<section class="section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
                <h6 class="text-uppercase">Kiến trúc & nội thất Movento</h6>
                <h1 id="slogan-heading">
                    {{ ShortDescription.title }}
                </h1>
                {% autoescape off %}
                <p class="about-trailer">
                    {{ ShortDescription.description }}
                </p>
                {% endautoescape %}
            </div>
            <div class="col-lg-6 relative about-video-right">
            </div>
        </div>
    </div>
</section>
<!-- End about-video Area -->

<!-- Start about-official Area  -->
<section class="container about-official pb-70">
    <div class="about-item">
        <h2 class="slogan-heading center">{{ FirstSection.title }}</h2>
        {% autoescape off %}
        <p class="about-trailer">{{ FirstSection.description }}</p>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ SecondSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ SecondSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ ThirdSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ ThirdSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ FourthSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ FourthSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ FifthSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ FifthSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ SixthSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ SixthSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ SeventhSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ SeventhSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ EighthSection.title }}</h2>
        {% autoescape off %}
        <div class="about-trailer-container">{{ EighthSection.description }}</div>
        {% endautoescape %}
    </div>
    <div class="about-item">
        <h2 class="slogan-heading center">{{ NinthSection.title }}</h2>
        {% with NinthSection.contentimages_set.all|first as OrgImage %}
            <img class="img-responsive" style="width:100%" src="{{ OrgImage.image.url }}"/>
        {% endwith %}
        {% autoescape off %}
        <div class="about-trailer-container">{{ NinthSection.description }}</div>
        {% endautoescape %}
    </div>
</section>
<!-- End about-official Area  -->

<!-- Start feature Area -->
<section class="feature-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10 text-white">MOVENTO CAM KẾT VỚI KHÁCH HÀNG</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-home"></span>
                        <h4>Sản phẩm đến tay khách hàng đúng chất lượng, thẩm mỹ</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-tag"></span>
                        <h4>Giá cả hợp lý và rẻ so với thị trường</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-chart-bars"></span>
                        <h4>Mang lại những giải pháp thiết kế thông minh, khoa học nhất tới khách hàng</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-database"></span>
                        <h4>Phân bổ hợp lí nhất ngân sách đầu tư của khách hàng</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-diamond"></span>
                        <h4>Dành mọi tâm huyết, sự sáng tạo để đem đến thiết kế tuyệt vời nhất tới khách hàng </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-calendar-full"></span>
                        <h4>Đảm bảo tiến độ thi công chính xác nhất có thể</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-construction"></span>
                        <h4>Chế độ bảo hành bảo trì rõ ràng, tận tâm</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a class="title d-flex flex-row align-items-center commit-item">
                        <span class="lnr lnr-bubble"></span>
                        <h4>Nhận tư vấn thiết kế cho khách hàng từ thứ 2 đến thứ 7, đảm bảo khách hàng được phục vụ tốt nhất</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
{% endblock MainContent %}

{% block CustomJs %}
<script>
    $(document).ready(function(){
        $(".about-trailer-container>p").addClass("about-trailer");
    });
</script>
{% endblock CustomJs %}