{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>
        {% block Title %}
        {% endblock Title %}
    </title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_css/main.css' %}">
    <style>
    {% with CTAContent.contentimages_set.all|first as firstItem %}
      .callto-action-wrap{
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7))
            ,url({{ firstItem.image.url }}) center;
        }
    {% endwith %}
</style>
</head>
<body>
<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:{{ Contact.mobile }}">{{ Contact.mobile }}</a>
                    <a href="mailto:{{ Contact.email }}">{{ Contact.email }}</a>
                </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="Movento Logo"/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li><a href="{% url 'about' %}">Hồ sơ năng lực</a></li>
                    <!--Services-->
                    <li class="menu-has-children"><a href="#service">Dự án</a>
                        <ul>
                            {% for menu in ServiceMenu %}
                                {% if menu.detailsubcategory_set.count > 1 %}
                                    <li class="menu-has-children">
                                        <a href="{% url 'service_subcategory' menu.code %}">{{ menu.name }}</a>
                                        <ul>
                                            {% for submenu in menu.detailsubcategory_set.all %}
                                                <li><a href="{% url 'service_detailsubcategory' menu.code submenu.code %}">{{ submenu.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'service_subcategory' menu.code %}">{{ menu.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <!--Product-->
                    <li class="menu-has-children"><a href="#service">Sản phẩm</a>
                        <ul>
                            {% for menu in ProductMenu %}
                                {% if menu.detailsubcategory_set.count > 1 %}
                                    <li class="menu-has-children">
                                        <a href="{% url 'product_subcategory' menu.code %}">{{ menu.name }}</a>
                                        <ul>
                                            {% for submenu in menu.detailsubcategory_set.all %}
                                                <li><a href="{% url 'product_detailsubcategory' menu.code submenu.code %}">{{ submenu.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'product_subcategory' menu.code %}">{{ menu.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'contact' %}">Liên hệ</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

{% block MainContent %}
{% endblock MainContent %}

<!-- Start callto-action Area -->
<section class="callto-action-area pt-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="callto-action-wrap col-lg-12 relative section-gap">
                <div class="content">
                    {% autoescape off %}
                        <h1>
                            {{ CTAContent.title }}
                        </h1>
                        <div class="CTA-desc">
                            {{ CTAContent.description }}
                        </div>
                    {% endautoescape %}
                    <a href="{% url 'contact' %}" class="primary-btn text-uppercase">Yêu cầu tư vấn</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End callto-action Area -->

<!-- Start brands Area -->
<section class="brands-area pt-20 pb-20">
    <div class="container no-padding">
        <div class="brand-wrap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                {% for partner in Partners %}
                    <div class="col single-brand">
                        <a href="{{ partner.web }}"><img class="mx-auto" src="{{ partner.image.url }}" alt="{{ partner.image_alt }}"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End brands Area -->

<!-- start footer Area -->
<footer id="lien-he" class="footer-area section-gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 d-flex flex-column address-wrap">
                <div class="single-contact-address d-flex flex-row">
                    <div class="contact-details">
                        <h5>Trụ sở chính & showroom</h5>
                        <p>
                            {{ Contact.showroom }}
                        </p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row">
                    <div class="contact-details">
                        <h5>Xưởng sản xuất</h5>
                        <p>
                            {{ Contact.factory }}
                        </p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row">
                    <div class="contact-details">
                        <h5>Hotline</h5>
                        <p>
                            Tel: {{ Contact.tel }}<br/>
                            Mobile: {{ Contact.mobile }}
                        </p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row">
                    <div class="contact-details">
                        <h5>Hòm thư</h5>
                        <p>{{ Contact.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form action="{% url 'success' %}" method="POST" class="form-area contact-form text-right">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul>
                          {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="row">
                        {% for field in ContactForm.visible_fields %}
                            {% if forloop.counter0 == 0 or forloop.counter0 == 3 %}
                                <div class="col-lg-6 form-group">
                            {% endif %}
                                    {{ field }}
                            {% if forloop.counter0 == 3 or forloop.counter0 == 2 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-lg-12">
                            <input type="submit" value="Gửi yêu cầu" class="genric-btn primary circle" style="float: right;"/>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</footer>
<!-- End footer Area -->

<!--Java Script embbed-->
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $( document ).ready(function() {
        $(".CTA-desc>p").addClass("mx-auto");
    });
</script>
{% block CustomJs %}
{% endblock CustomJs %}
</body>
</html>