{% extends "base.html" %}
{% load static %}
{% block Title %}
{{ DetailPost.name }}
{% endblock Title %}

{% block MainContent %}
<link rel="stylesheet" href="{% static 'css/custom_css/detailpost.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_css/lightbox.min.css' %}">
<script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
<style>
    .banner-area {
        background: url({{ DetailSubCategory.image.url }}) center;
        background-size: cover;
    }
</style>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {{ DetailSubCategory.name }}
                </h1>
                <p class="text-white link-nav"><a href="{% url 'home' %}">Trang chủ </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'service_subcategory' SubCategory.code %}"> {{ SubCategory.name }}</a><span class="lnr lnr-arrow-right"></span>  <a href=""> {{ DetailSubCategory.name }}</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start project-details Area -->
<section class="project-details-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 project-details-left">
                <img class="img-fluid" src="{{ DetailPost.avatar.url }}" alt="{{ DetailPost.image_alt }}">
            </div>
            <div class="col-lg-6 project-details-right">
                <h3 class="pb-20">{{ DetailPost.name }}</h3>
                <p>{{ DetailPost.description }}</p>
                <div class="details-info d-flex flex-row">
                    <ul class="names">
                        <li>Tên khách hàng</li>
                        <li>Địa chỉ</li>
                        <li>Ngày thiết kế</li>
                    </ul>
                    <ul class="desc">
                        <li>: {{ DetailPost.customer }}</li>
                        <li>: {{ DetailPost.address }}</li>
                        <li>: {{ DetailPost.start_date }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 project-desc mt-60">
                {% autoescape off %}
                    <p>{{ DetailPost.main_content }}</p>
                {% endautoescape %}
            </div>
        </div>
    </div>
</section>
<!-- End project-details Area -->

<!-- Photo Grid -->
<div class="row-grid container">
    <div class="column-grid gallery">
        {% for postimage in DetailPost.detailpostimages_set.all %}
            <a href="{{ postimage.image.url }}" data-lightbox="mygallery">
                <img src="{{ postimage.image.url }}" style="width:100%" alt="{{ postimage.image_alt }}">
            </a>
            {% if forloop.counter0 == GridImageColumnCount %}
                </div>
			    <div class="column-grid gallery">
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- End Photo Grid -->
<div class="fb-like" data-href="https://www.movento.com.vn/thiet-ke-thi-cong/thiet-ke-thi-cong-kien-truc/thiet-ke-kien-truc-nha-pho/thiet-ke-kien-truc-nha-lien-ke" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

{% endblock MainContent %}

{% block CustomJs %}
{% endblock CustomJs %}