{% extends "base.html" %}
{% load static %}
{% block Title %}
{{ ProductCategory.name }}
{% endblock Title %}

{% block MainContent %}
<div class="blog-page">
    <style>
        .banner-area {
            background: url({{ ProductCategory.image.url }}) center;
            background-size: cover;
        }
        .post-content-area .single-post .primary-btn{
            background-color: #c6b069 !important;
            color: #fff !important;
        }



    </style>

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        {{ ProductCategory.name }}
                    </h1>
                    <p class="text-white link-nav"><a href="{% url 'home' %}">Trang chủ </a> <span
                            class="lnr lnr-arrow-right"></span> <a
                            href="{% url 'product_category' ProductCategory.code %}"> {{ ProductCategory.name }}</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start post-content Area -->
    <section class="pt-90 post-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 gallery-area">
                    {% for product in Products %}
                    {% if forloop.counter0 in Openrow_Indexes %}
                    <div class="single-post row">
                        {% endif %}
                        <div class="col-lg-4">
                            <div class="single-gallery">
                                <div class="content">
                                    <a href="{% url 'product_detail' ProductCategory.code product.code %} "
                                       target="_blank">
                                        <div class="content-overlay"></div>
                                        <img class="content-image img-fluid d-block mx-auto"
                                             src="{{ product.avatar.url }}" alt="{{ product.image_alt }}">
                                        <div class="content-details fadeIn-bottom">
                                            <a href="{% url 'product_detail' ProductCategory.code product.code %}"
                                               class="primary-btn text-uppercase">Xem chi tiết</a>
                                        </div>
                                    </a>
                                </div>
                                <p class="pt-2 text-center">{{ product.name }}<br/>
                                    {% if product.discount > 0 %}
                                    Giá niêm yết: <strike><font style="font-weight:500;" class="currency-default">{{ product.price }}</font></strike></br>
                                    Khuyến mại: <font style="color:red;font-weight:500;" class="currency-default">{{ product.actual_price }}</font>
                                    {% else %}
                                    Giá niêm yết: <font style="font-weight:500;" class="currency-default">{{ product.actual_price }}</font>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% if forloop.counter0 in Closerow_Indexes or forloop.counter0 == LastIndex %}
                    </div>
                    {% endif %}
                    {% endfor %}

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if Products.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ Products.previous_page_number }}" class="page-link"
                                   aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in Products.paginator.page_range %}
                            {% if Products.number == i %}
                            <li class="page-item active"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if Products.has_next %}
                            <li class="page-item">
                                <a href="?page={{ Products.next_page_number }}" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        <div class="single-sidebar-widget search-widget">
                            <form class="search-form" action="/tim-kiem-san-pham">
                                <input placeholder="Tìm kiếm" name="keyword" type="text" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Tìm kiếm'">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="single-sidebar-widget post-category-widget" id="accordion_02">
                            <h4 id="headingTwo" class="category-title heading" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Danh mục <i
                                    class="fa fa-angle-up"></i></h4>
                            <div id="collapseTwo" class="collapse show pt-2" aria-labelledby="headingTwo"
                                 data-parent="#accordion_02">
                                <ul class="cat-list">
                                    {% for category in ListCategory %}
                                    <li>
                                        <a href="{% url 'product_category' category.code %}"
                                           class="d-flex justify-content-between">
                                            <p>{{ category.name }}</p>
                                            <p>{{ category.product_set.all.count }}</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="single-sidebar-widget tag-cloud-widget">
                            <h4 class="tagcloud-title">Liên kết</h4>
                            <ul>
                                {% for tag in Tags %}
                                <li><a href="{% url 'search_product_tagname' tag.code %}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post-content Area -->
</div>
{% endblock MainContent %}

{% block CustomJs %}
<script src="{% static 'js/jquery.number.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.currency-default').number(true);
        $(".heading").click(function(){
            if($(this).attr("aria-expanded") == "true")
            {
                $(this).find("i").removeClass("fa-angle-up").addClass("fa-angle-down");
            }
            else
            {

                $(this).find("i").removeClass("fa-angle-down").addClass("fa-angle-up");
            }
        });
    });


</script>
{% endblock CustomJs %}